@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn {
  text-align: center;
  vertical-align: middle;
  width: 350px;
  height: 60px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 22px;
}

.btn.btn-sm {
  width: 65px;
  height: 38px;
}

.btn.btn-md {
  width: 160px;
  height: 38px;
}

.btn-brown {
  border: 2px solid #916000;
  background: #916000;
  color: #ffffff;
}

.block {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.j-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.j-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.a-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-group {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.form-control {
  width: 350px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 16px;
  line-height: 19px;
  padding: 10px 10px;
}

.form-control.form-sm {
  width: 59px;
  padding: 16px 8px;
}

.form-control.form-md {
  width: 160px;
  padding: 8px 8px;
}

input[type="checkbox"] {
  border-radius: 3px;
  background: #916000;
}

.mb-8 {
  margin-bottom: 8px !important;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-16 {
  margin-bottom: 16px !important;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-52 {
  margin-bottom: 52px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-80 {
  margin-bottom: 80px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .menu {
  font-size: 20px;
}

.nav .menu li {
  padding: 16px;
  font-size: 20px;
  color: #8d8d8d;
}

.logo-1 {
  width: 128px;
  height: 38px;
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/d%E2%80%99Perfume.png");
  background-position: center center;
}

.brand-list-bg {
  height: 52px;
  background-color: #916000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brand-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #916000;
}

.brand-list li {
  color: #ffffff;
  font-size: 20px;
  line-height: 30px;
  margin-right: 28px;
}

.footer {
  width: 100%;
  background: #916000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.footer .footer-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .f-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer span {
  font-size: 14px;
  color: #ffffff;
  font-weight: normal;
  margin-left: 20px;
}

.footer .menu {
  width: 263px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer li {
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.cover {
  height: 870px;
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/index1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cover-info {
  max-width: 445px;
  margin-right: 405px;
}

.cover-info h2 {
  font-size: 40px;
  color: #ffffff;
  line-height: 60px;
}

.cover-info p {
  font-size: 24px;
  color: #ffffff;
  line-height: 36px;
}

.btn-shop {
  width: 350px;
  height: 60px;
  border: 2px solid #ffffff;
  border-radius: 30px;
  background-color: transparent;
  color: #ffffff;
  font-size: 24px;
  line-height: 42px;
}

.p-img {
  width: 555px;
  height: 555px;
}

.p-img.l-size {
  height: 1080px;
}

.product-list {
  padding: 60px 0;
}

.product-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-list .detail {
  width: 555px;
  height: 555px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 110px;
}

.product-list .detail.size-lg {
  height: 1080px;
}

.product-list .detail h3 {
  font-size: 32px;
  line-height: 48px;
}

.product-list .detail p {
  font-size: 20px;
  line-height: 30px;
}

.product-list .detail a {
  font-size: 16px;
  line-height: 24px;
  color: #ac8a46;
  text-decoration: none;
  font-weight: 600;
}

.effect-info {
  width: 555px;
  padding: 110px;
}

.effect-info li {
  display: block;
}

.effect-info li h4 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
}

.effect-info li p {
  font-size: 16px;
  line-height: 24px;
}

.plan-btn {
  border: 2px solid #000000;
  border-radius: 30px;
  background-color: #ffffff;
  font-size: 20px;
  line-height: 30px;
}

.product-market {
  height: 728px;
  background-color: #e0e0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-market ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-market li {
  margin-bottom: 8px;
}

.product-market li.soldout {
  position: relative;
}

.product-market li .shadow {
  font-size: 24px;
  color: #ffffff;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 350px;
  height: 540px;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}

.product-market img {
  width: 350px;
  height: 540px;
}

.product-market h3 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
}

.product-market .producer {
  display: block;
  font-size: 16px;
  line-height: 24px;
}

.product-market .price {
  display: inline;
  font-size: 16px;
  line-height: 24px;
}

.product-market .discount {
  text-decoration: line-through;
  color: #8d8d8d;
}

.recycle {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 0;
}

.recycle .recycle-img {
  display: block;
  width: 730px;
  height: 520px;
}

.recycle .recycle-detail {
  max-height: 520px;
  max-width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 30px;
  width: 100%;
}

.recycle .recycle-detail h3 {
  font-size: 32px;
  line-height: 48px;
  font-weight: 600;
}

.recycle .recycle-detail p {
  font-size: 16px;
  line-height: 24px;
}

.recycle .recycle-detail a {
  font-size: 16px;
  line-height: 24px;
  color: #ac8a46;
  text-decoration: none;
  font-weight: 600;
}

.recycle .recycle-detail span {
  font-size: 20px;
  line-height: 30px;
}

.subscribe {
  background: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/index10.jpg?raw=true");
  height: 600px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe .content {
  padding-top: 312px;
}

.subscribe h3 {
  font-size: 32px;
  color: #8d8d8d;
  line-height: 48px;
  font-weight: 600;
}

.subscribe input {
  font-size: 16px;
  line-height: 24px;
  border: 2px solid #916000;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 16px;
}

.subscribe button {
  font-size: 16px;
  line-height: 24px;
  border: 2px solid #916000;
  padding: 21px 26px;
  background: #916000;
  color: #ffffff;
}

.all-product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.all-product-list li {
  margin-bottom: 58px;
}

.all-product-list li img {
  width: 255px;
  height: 255px;
}

.all-product-list li h3 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
}

.all-product-list li .producer {
  font-size: 16px;
  line-height: 24px;
}

.all-product-list li .price {
  display: inline;
  font-size: 16px;
  line-height: 24px;
}

.all-product-list li .discount {
  text-decoration: line-through;
  color: #8d8d8d;
}

.all-product-list li .icon {
  color: #916019;
  margin-right: 11px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  line-height: 30px;
  margin-top: 78px;
  margin-bottom: 60px;
}

.pagination li {
  margin-right: 20px;
  color: #000000;
}

.pagination li a:hover {
  text-decoration: underline;
  color: #ac8a46;
}

.single-product-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 730px;
}

.product-photos img {
  width: 730px;
  height: 460px;
}

.product-photo-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-photo-group img {
  width: 350px;
  height: 640px;
}

.product-content {
  width: 350px;
}

.product-content h3 {
  font-size: 32px;
  line-height: 48px;
  font-weight: bold;
}

.product-content .product-intro {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 32px;
}

.product-content .price {
  display: block;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 12px;
}

.product-content input {
  max-width: 160px;
  height: 50px;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #916000;
  padding: 16px;
  border-radius: 4px 0px 0px 4px;
}

.product-content button {
  max-width: 190px;
  height: 50px;
  font-size: 16px;
  line-height: 18px;
  border: 2px solid #916000;
  padding: 14px 53px;
  background: #916000;
  color: #ffffff;
  border-radius: 0px 4px 4px 0px;
}

.product-content .like {
  font-size: 16px;
  line-height: 24px;
  margin-top: 8px;
  display: block;
}

.product-content .like i {
  color: #916019;
  margin-right: 2px;
}

.product-content h4 {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}

.product-content .guide {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  margin-bottom: 20px;
}

.login-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 82px;
}

.login-main .login-cover {
  width: 730px;
  height: 730px;
}

.login-main .login {
  width: 350px;
}

.login-main .login h3 {
  font-size: 32px;
  line-height: 48px;
  font-weight: 600;
  margin-bottom: 12px;
}

.login-main .login label {
  display: block;
  font-size: 16px;
  line-height: 22px;
  color: #212529;
  margin-bottom: 4px;
}

.login-main .login input {
  width: 350px;
  height: 38px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  margin-bottom: 20px;
  padding-left: 12px;
  padding-top: 9px;
  padding-bottom: 10px;
}

.login-main .login .login-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-main .login .login-btns a {
  font-size: 16px;
  line-height: 24px;
  color: #916000;
  font-weight: 600;
}

.login-main .login .login-btns .signup-btn {
  border: 1px solid #916000;
  background: #ffffff;
  font-size: 16px;
  line-height: 22px;
  color: #916000;
  border-radius: 4px;
}

.login-main .login .login-btns .login-btn {
  background: #916000;
  border: 1px solid #916000;
  color: #ffffff;
  border-radius: 4px;
}

.member-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.member-menu h2 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  color: #848484;
  margin-bottom: 28px;
}

.member-menu li {
  font-size: 16px;
  line-height: 24px;
  color: #848484;
  margin-bottom: 24px;
}

.member-menu li a {
  text-decoration: none;
  color: inherit;
}

.member-menu li a:hover {
  border-bottom: 2px solid #916000;
}

.profile-setting {
  margin-left: 93px;
  width: 635px;
}

.profile-setting h3 {
  width: 100%;
  font-size: 16px;
  line-height: 22px;
  color: #000;
  font-weight: 600;
  margin-bottom: 24px;
  border-bottom: 1px solid #818a91;
}

.profile-setting label {
  min-width: 64px;
  font-size: 16px;
  line-height: 22px;
  color: #818a91;
  margin-right: 31px;
}

.form-group .btn {
  margin-left: 95px;
}

.member-record {
  margin-left: 30px;
}

.member-record h2 {
  font-size: 16px;
  line-height: 22px;
  color: #818a91;
  display: inline;
}

.member-record .member-code {
  font-size: 20px;
  line-height: 30px;
  color: #8d8d8d;
  display: inline;
  margin-left: 6px;
}

.member-record ul {
  margin-top: 24px;
}

.member-record li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}

.member-record li .record-title {
  width: 65px;
  margin-right: 30px;
  font-size: 16px;
  line-height: 24px;
  color: #818a91;
}

.member-record li .record-value {
  font-size: 16px;
  line-height: 24px;
  color: #818a91;
}

.member-record li .tip {
  display: block;
  font-size: 14px;
  line-height: 21px;
  color: #a5a5a5;
  margin-top: -16px;
}
/*# sourceMappingURL=all.css.map */