@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn {
  width: 350px;
  height: 60px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.j-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.j-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.a-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-52 {
  margin-bottom: 52px;
}

.mb-60 {
  margin-bottom: 60px;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.menu {
  font-size: 20px;
}

.menu li {
  padding: 16px;
  font-size: 20px;
  color: #8d8d8d;
}

.logo-1 {
  width: 128px;
  height: 38px;
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/d%E2%80%99Perfume.png");
  background-position: center center;
}

.cover {
  height: 870px;
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/index1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cover-info {
  max-width: 445px;
  margin-right: 405px;
}

.cover-info h2 {
  font-size: 40px;
  color: #ffffff;
  line-height: 60px;
}

.cover-info p {
  font-size: 24px;
  color: #ffffff;
  line-height: 36px;
}

.btn-shop {
  width: 350px;
  height: 60px;
  border: 2px solid #ffffff;
  border-radius: 30px;
  background-color: transparent;
  color: #ffffff;
  font-size: 24px;
  line-height: 42px;
}

.p-img {
  width: 555px;
  height: 555px;
}

.p-img.l-size {
  height: 1080px;
}

.product-list {
  padding: 60px 0;
}

.product-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-list .detail {
  width: 555px;
  height: 555px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 110px;
}

.product-list .detail.size-lg {
  height: 1080px;
}

.product-list .detail h3 {
  font-size: 32px;
  line-height: 48px;
}

.product-list .detail p {
  font-size: 20px;
  line-height: 30px;
}

.product-list .detail a {
  font-size: 16px;
  line-height: 24px;
  color: #ac8a46;
  text-decoration: none;
  font-weight: 600;
}

.effect-info {
  width: 555px;
  padding: 110px;
}

.effect-info li {
  display: block;
}

.effect-info li h4 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
}

.effect-info li p {
  font-size: 16px;
  line-height: 24px;
}

.plan-btn {
  border: 2px solid #000000;
  border-radius: 30px;
  background-color: #ffffff;
  font-size: 20px;
  line-height: 30px;
}

.product-market {
  height: 728px;
  background-color: #e0e0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-market ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-market li {
  margin-bottom: 8px;
}

.product-market li.soldout {
  position: relative;
}

.product-market li .shadow {
  font-size: 24px;
  color: #ffffff;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 350px;
  height: 540px;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}

.product-market img {
  width: 350px;
  height: 540px;
}

.product-market h3 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
}

.product-market .producer {
  display: block;
  font-size: 16px;
  line-height: 24px;
}

.product-market .price {
  display: inline;
  font-size: 16px;
  line-height: 24px;
}

.product-market .discount {
  text-decoration: line-through;
  color: #8d8d8d;
}

.recycle {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 0;
}

.recycle .recycle-img {
  display: block;
  width: 730px;
  height: 520px;
}

.recycle .recycle-detail {
  max-height: 520px;
  max-width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 30px;
  width: 100%;
}

.recycle .recycle-detail h3 {
  font-size: 32px;
  line-height: 48px;
  font-weight: 600;
}

.recycle .recycle-detail p {
  font-size: 16px;
  line-height: 24px;
}

.recycle .recycle-detail a {
  font-size: 16px;
  line-height: 24px;
  color: #ac8a46;
  text-decoration: none;
  font-weight: 600;
}

.recycle .recycle-detail span {
  font-size: 20px;
  line-height: 30px;
}

.subscribe {
  background: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/index10.jpg?raw=true");
  height: 600px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe .content {
  padding-top: 312px;
}

.subscribe h3 {
  font-size: 32px;
  color: #8d8d8d;
  line-height: 48px;
  font-weight: 600;
}

.subscribe input {
  font-size: 16px;
  line-height: 24px;
  border: 2px solid #916000;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 16px;
}

.subscribe button {
  font-size: 16px;
  line-height: 24px;
  border: 2px solid #916000;
  padding: 21px 26px;
  background: #916000;
  color: #ffffff;
}

.footer {
  background: #916000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .f-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer span {
  font-size: 14px;
  color: #ffffff;
  font-weight: normal;
  margin-left: 20px;
}

.footer .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer li {
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}
/*# sourceMappingURL=all.css.map */