.btn {
  width: 350px;
  height: 60px;
}

a {
  text-decoration: none;
  color: inherit;
}

.flex {
  display: flex;
}

.j-center {
  justify-content: center;
}

.j-sb {
  justify-content: space-between;
}

.a-center {
  align-items: center;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-52 {
  margin-bottom: 52px;
}
.mb-60 {
  margin-bottom: 60px;
}
.mb-80 {
  margin-bottom: 80px;
}
