.btn {
  width: 350px;
  height: 60px;
}

a {
  text-decoration: none;
  color: inherit;
}

.flex {
  display: flex;
}

.j-center {
  justify-content: center;
}

.j-sb {
  justify-content: space-between;
}

.a-center {
  align-items: center;
}

.brand-list-bg {
  height: 52px;
  background-color: #916000;
  display: flex;
  align-items: center;
}

.brand-list {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #916000;

  li {
    color: $white;
    font-size: $fs-2;
    line-height: $lh-2;
    margin-right: 28px;
  }
}

.footer {
  width: 100%;
  background: #916000;
  display: flex;
  align-items: center;

  .footer-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .f-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  span {
    font-size: 14px;
    color: $white;
    font-weight: normal;
    margin-left: 20px;
  }
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  li {
    font-size: $fs-2;
    line-height: $lh-2;
    color: $white;
  }
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}

.mb-52 {
  margin-bottom: 52px;
}
.mb-60 {
  margin-bottom: 60px;
}
.mb-80 {
  margin-bottom: 80px;
}
