.container {
  width: $container-width;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  font-size: $fs-2;
  li {
    padding: 16px;
    font-size: $fs-2;
    color: #8d8d8d;
  }
}

.logo-1 {
  width: 128px;
  height: 38px;
  background: url($logo-1);
  background-position: center center;
}

.cover {
  height: 870px;
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/index1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cover-info {
  max-width: 445px;
  margin-right: 405px;

  h2 {
    font-size: $fs-6;
    color: $white;
    line-height: $lh-6;
  }

  p {
    font-size: $fs-3;
    color: $white;
    line-height: $lh-3;
  }
}

.btn-shop {
  width: 350px;
  height: 60px;
  border: 2px solid #ffffff;
  border-radius: 30px;
  background-color: transparent;
  color: $white;
  font-size: $fs-3;
  line-height: $lh-4;
}

.p-img {
  width: 555px;
  height: 555px;
  &.l-size {
    height: 1080px;
  }
}

.product-list {
  padding: 60px 0;
  li {
    display: flex;
  }

  .detail {
    width: 555px;
    height: 555px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 110px;

    &.size-lg {
      height: 1080px;
    }

    h3 {
      font-size: $fs-5;
      line-height: $lh-5;
    }

    p {
      font-size: $fs-2;
      line-height: $lh-2;
    }

    a {
      font-size: $font-base;
      line-height: $lh-base;
      color: #ac8a46;
      text-decoration: none;
      font-weight: 600;
    }
  }
}

.effect-info {
  width: 555px;
  padding: 110px;
  li {
    display: block;
    h4 {
      font-size: $fs-3;
      line-height: $lh-3;
      font-weight: 600;
    }
    p {
      font-size: $font-base;
      line-height: $lh-base;
    }
  }
}

.plan-btn {
  border: 2px solid #000000;
  border-radius: 30px;
  background-color: $white;
  font-size: $fs-2;
  line-height: $lh-2;
}

.product-market {
  height: 728px;
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  li {
    margin-bottom: 8px;

    &.soldout {
      position: relative;
    }

    .shadow {
      font-size: $fs-3;
      color: $white;
      font-weight: 600;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 350px;
      height: 540px;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.3);
    }
  }
  img {
    width: 350px;
    height: 540px;
  }

  h3 {
    font-size: $fs-3;
    line-height: $lh-3;
    font-weight: 600;
  }

  .producer {
    display: block;
    font-size: $font-base;
    line-height: $lh-base;
  }

  .price {
    display: inline;
    font-size: $font-base;
    line-height: $lh-base;
  }

  .discount {
    text-decoration: line-through;
    color: #8d8d8d;
  }
}

.recycle {
  background-color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0;

  .recycle-img {
    display: block;
    width: 730px;
    height: 520px;
  }

  .recycle-detail {
    max-height: 520px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    width: 100%;
    h3 {
      font-size: $fs-5;
      line-height: $lh-5;
      font-weight: 600;
    }

    p {
      font-size: $font-base;
      line-height: $lh-base;
    }

    a {
      font-size: $font-base;
      line-height: $lh-base;
      color: #ac8a46;
      text-decoration: none;
      font-weight: 600;
    }

    span {
      font-size: $fs-2;
      line-height: $lh-2;
    }
  }
}

.subscribe {
  background: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/index10.jpg?raw=true");
  height: 600px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  .content {
    padding-top: 312px;
  }
  h3 {
    font-size: $fs-5;
    color: #8d8d8d;
    line-height: $lh-5;
    font-weight: 600;
  }
  input {
    font-size: $font-base;
    line-height: $lh-base;
    border: 2px solid #916000;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 16px;
  }
  button {
    font-size: $font-base;
    line-height: $lh-base;
    border: 2px solid #916000;
    padding: 21px 26px;
    background: #916000;
    color: $white;
  }
}

.footer {
  background: #916000;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .f-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  span {
    font-size: 14px;
    color: $white;
    font-weight: normal;
    margin-left: 20px;
  }
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  li {
    font-size: $fs-2;
    line-height: $lh-2;
    color: $white;
  }
}
