.cover {
  height: 870px;
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/index1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cover-info {
  max-width: 445px;
  margin-right: 405px;

  h2 {
    font-size: $fs-6;
    color: $white;
    line-height: $lh-6;
  }

  p {
    font-size: $fs-3;
    color: $white;
    line-height: $lh-3;
  }

  @include mobile {
    margin: 0 auto;
  }
}

.btn-shop {
  width: 350px;
  height: 60px;
  border: 2px solid #ffffff;
  border-radius: 30px;
  background-color: transparent;
  color: $white;
  font-size: $fs-3;
  line-height: $lh-4;
}

.p-img {
  width: 555px;
  height: 555px;
  &.l-size {
    height: 1080px;
  }

  @include mobile {
    width: 345px;
    height: 350px;

    &.l-size {
      height: 680px;
    }
  }
}

.product-list {
  padding: 60px 0;
  li {
    display: flex;
    justify-content: center;
    &.reverse {
      flex-direction: row-reverse;
    }
  }

  .detail {
    width: 555px;
    height: 555px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 110px;

    &.size-lg {
      height: 1080px;
    }

    h3 {
      font-size: $fs-5;
      line-height: $lh-5;
    }

    p {
      font-size: $fs-2;
      line-height: $lh-2;
    }

    a {
      font-size: $font-base;
      line-height: $lh-base;
      color: #ac8a46;
      text-decoration: none;
      font-weight: 600;
    }
  }

  @include mobile {
    li {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      margin-top: 32px;
    }
    .detail {
      width: 100%;
      height: 230px;
    }
    .reverse {
      flex-direction: column-reverse !important;
    }
  }
}

.effect-info {
  width: 555px;
  padding: 110px;
  li {
    display: block;
    h4 {
      font-size: $fs-3;
      line-height: $lh-3;
      font-weight: 600;
    }
    p {
      font-size: $font-base;
      line-height: $lh-base;
    }
  }
}

.plan-btn {
  border: 2px solid #000000;
  border-radius: 30px;
  background-color: $white;
  font-size: $fs-2;
  line-height: $lh-2;
}

.product-market {
  height: 728px;
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  li {
    margin-bottom: 8px;

    &.soldout {
      position: relative;
    }

    .shadow {
      font-size: $fs-3;
      color: $white;
      font-weight: 600;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 350px;
      height: 540px;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.3);
    }
  }
  img {
    width: 350px;
    height: 540px;
  }

  h3 {
    font-size: $fs-3;
    line-height: $lh-3;
    font-weight: 600;
  }

  .producer {
    display: block;
    font-size: $font-base;
    line-height: $lh-base;
  }

  .price {
    display: inline;
    font-size: $font-base;
    line-height: $lh-base;
  }

  .discount {
    text-decoration: line-through;
    color: #8d8d8d;
  }

  @include mobile {
    height: auto;
    ul {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

.recycle {
  background-color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0;

  .recycle-img {
    display: block;
    width: 730px;
    height: 520px;
  }

  .recycle-detail {
    max-height: 520px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    width: 100%;
    h3 {
      font-size: $fs-5;
      line-height: $lh-5;
      font-weight: 600;
    }

    p {
      font-size: $font-base;
      line-height: $lh-base;
    }

    a {
      font-size: $font-base;
      line-height: $lh-base;
      color: #ac8a46;
      text-decoration: none;
      font-weight: 600;
    }

    span {
      font-size: $fs-2;
      line-height: $lh-2;
    }
  }

  @include mobile {
    flex-direction: column;

    .recycle-detail {
      margin-top: 8px;
    }
  }
}
