//container
.container {
  max-width: $container-width;
  margin: 0 auto;
}

//navbar
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .menu {
    font-size: $fs-2;
    li {
      padding: 16px;
      font-size: $fs-2;
      color: #8d8d8d;
    }
  }
}
.logo-1 {
  width: 128px;
  height: 38px;
  background: url($logo-1);
  background-position: center center;
}

//brand nav
.brand-list-bg {
  height: 52px;
  background-color: #916000;
  display: flex;
  align-items: center;
}

.brand-list {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #916000;

  li {
    color: $white;
    font-size: $fs-2;
    line-height: $lh-2;
    margin-right: 28px;
  }
}

//footer
.footer {
  width: 100%;
  background: #916000;
  display: flex;
  align-items: center;
  padding: 20px 0;

  .footer-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .f-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  span {
    font-size: 14px;
    color: $white;
    font-weight: normal;
    margin-left: 20px;
  }
  .menu {
    width: 263px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  li {
    font-size: $fs-2;
    line-height: $lh-2;
    color: $white;
  }
}
